@keyframes slideInProfileBrief {
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@-webkit-keyframes slideInProfileBrief {
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}

@keyframes appearProfileImage {
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes appearProfileImage {
  100% {
    opacity: 1;
  }
}

.ProfileBriefSection {
  text-align: center;
}

.ProfileBrief__Image {
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  width: 100px;
  height: 100px;
  text-align: center;
  opacity: 0;
}

.ProfileBrief__Image--Animate{
  animation: appearProfileImage 4s ease forwards;
  animation-delay: 0.3s;
  -webkit-animation: appearProfileImage 4s ease forwards;
  -webkit-animation-delay: 0.3s;
}

.ProfileBrief__Image--NoAnimate{
  opacity: 1;
}

.ProfileBriefBio {
  font-family: 'Lato', sans-serif;
  margin: 16px 0px;
  letter-spacing: 1px;
  font-weight: 300;
  text-align: center;
}

.ProfileBriefBio__Name {
  font-family: 'Forum', serif;
  font-size: 1.3rem;
  font-weight: 400;
  letter-spacing: 4px;
  margin-bottom: 8px;
  opacity: 0;
  transform: translateY(500%);
  -webkit-transform: translateY(500%);
}

.ProfileBriefBio__Name--Animate {
  animation: slideInProfileBrief 2s ease forwards;
  animation-delay: 0.35s;
  -webkit-animation: slideInProfileBrief 2s ease forwards;
  -webkit-animation-delay: 0.35s;
}

.ProfileBriefBio__Name--NoAnimate {
  opacity: 1;
  transform: translateY(0%);
}

.ProfileBriefBio__Credentials {
  margin: 12px 0;
}

.ProfileBriefBio__Credential {
  opacity: 0;
  transform: translateY(500%);
  -webkit-transform: translateY(500%);
}

.ProfileBriefBio__Credential--Animate {
  animation: slideInProfileBrief 1.1s ease forwards;
  -webkit-animation: slideInProfileBrief 1.1s ease forwards;
}

.ProfileBriefBio__Credential--AnimateSoftwareEngineer {
  animation-delay: 1.7s;
  -webkit-animation-delay: 1.7s;
}

.ProfileBriefBio__Credential--AnimateWebDeveloper {
  animation-delay: 2.5s;
  -webkit-animation-delay: 2.5s;
}

.ProfileBriefBio__Credential--AnimateMusician {
  animation-delay: 3.3s;
  -webkit-animation-delay: 3.3s;
}

.ProfileBriefBio__Credential--NoAnimate {
  opacity: 1;
  transform: translateY(0%);
}

.ProfileBriefBio__Credential {
  margin: 4px 0;
}

@media(max-width: 480px) {
  /* phones */
  .ProfileBriefBio__Name{
    font-size: 0.99em;
  }
  .ProfileBriefBio__Credentials{
    font-size: 0.85em;
  }
}

@media(max-width: 480px) and (orientation: portrait) {
  /* portrait phones */
  .ProfileBriefBio__Name{
    font-size: 0.99em;
  }
  .ProfileBriefBio__Credentials{
    font-size: 0.85em;
  }
}

@media(min-width: 768px) {
  /* tablets and desktop */
}
